<VirtualHost *:80>
	DocumentRoot /var/www/html/{{ alias }}
	ServerName {{ domainname }}
	ServerAlias {{ alias }}
	<Directory /var/www/html/{{ alias }}>
		Options FollowSymLinks
		AllowOverride All
		Require all granted
	</Directory>
</VirtualHost>

